name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate composer.json and composer.lock
        run: composer validate
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress
      - shell: bash
        run: |
          tar -zcf vendor.tgz ./vendor ./scripts
      - name: Upload result vendors
        uses: actions/upload-artifact@v1
        with:
          name: artifacts
          path: vendor.tgz

  codestyle:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v1
        with:
          name: vendor
      - shell: bash
        run: |
          tar -zxf artifacts/vendor.tgz
      - name: PHP Code Sniffer
        run: ./scripts/robo run:phpcs

  tests:
    needs: codestyle
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v1
        with:
          name: vendor
      - shell: bash
        run: |
          tar -zxf artifacts/vendor.tgz
      - name: PHP Unit
        run: ./scripts/robo run:phpunit